header {


  background: linear-gradient(to bottom, $darkPrimary, $darkSecondary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  letter-spacing: 3px;
  white-space: nowrap;

  @include redimensionar(small) {
    font-size: 1em;

  }

  .brand {
    min-height: 30vh;
    padding: 1em;
    margin-bottom: 2px;
    background-color: $darkPrimary;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;

    @include redimensionar(medium) {
      justify-content: center;
    }

    @include redimensionar(small) {

      .logo img.logo-min,
      h2 {
        display: none;
      }

      .logo img.logo-full {
        display: inline;
        width: 50%;
      }
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5%;

      img {
        cursor: pointer;
        border-radius: 2em;
        @include transicionar(box-shadow);

        &:hover {
          transform: scale(1.25);
          @include sombrear(10px, 10px, 50px, #000000);
        }
      }

      .logo-full {
        display: none;
      }
    }

    h2.brand_title {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 7.5vmin;
      color: $darkPrimary;
      letter-spacing: 0.15em;
      position: relative;
      text-transform: uppercase;
      box-sizing: border-box;


      &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        @include animar(width0to100, 2s, ease-in-out);
        @include textoGradiente($lightPrimary, $accesoryColor1);

      }

      span {

        &.underline {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          background: $accesoryColor1;
          height: 3px;
          width: 100%;
          transform: scaleX(0);
        }

        &.load {
          display: block;
          position: absolute;
          height: 100%;
          background: $lightSecondary;
          @include animar(loadAni, 2s, ease-in-out);

          @keyframes loadAni {
            from {
              left: 0;
              width: 10px;
            }

            to {
              left: 100%;
              width: 0px;
            }
          }
        }
      }

      &:hover {
        span.underline {
          width: 100%;
          height: 3px;

          transform: scaleX(1);
          transform-origin: left;
          transition: transform 0.33s;
        }
      }
    }


    .buscador {
      display: block;
      align-items: center;

      @include redimensionar(medium) {
        display: none;
      }


      form {
        float: right;
        margin: 10px;
        display: flex;
        align-items: center;

        @include transicionar(all, 0.3s, ease-in-out);

        input {
          color: $white;
          padding: 6px 24px;
          font-size: 14px;
          background-color: transparent;
          border-radius: 50px;
          border: 1px solid $accesoryColor1;

          &:hover,
          &:focus {
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid $lightPrimary;
            border-radius: 0;
          }
        }

        button {
          float: right;

          height: 100px;
          width: 50px;
          background: transparent;
          border: transparent;
          font-size: 20px;
          color: $white;
          cursor: pointer;
          outline: 0;
        }
      }
    }
  }




  .nav {
    background: linear-gradient(to bottom, $darkPrimary, $darkSecondary);
    .active{
      box-shadow: 1px 1px 25px white;
    }

    @include redimensionar(medium) {
      div.button-menu {
        display: block;
      }

      ul.menu {
        width: 100%;
        display: block;
        height: 0px;
        overflow: hidden;
      }

      &:hover {
        ul.menu {
          @include transicionar(height, 0.2s, ease-in-out);
          display: block;
          overflow: visible;
          height: 225px;
          padding-left: 0;

          >li {
            margin-left: 0;
            text-align: left;

          }
        }
      }

    }

    .button-menu {
      display: none;
      width: 100%;
      min-height: 15px;
      background: url("../img/icons/dropdownmenu-icon.png") no-repeat center;
      background-size: contain;
      @include invertir(100%)
    }

    ul {

      list-style: none;
      margin: 0;
      padding: 0;
      background-color: gradient;

      li {
        width: 100%;

        a {
          display: block;
          color: #fff;
          padding: 15px;
          text-decoration: none;
          color: darken($color: #fff, $amount: 10);
          @include transicionar(background-color);
        }

        &:hover {

          background-color: $darkSecondary;
        }
      }

      &.menu {
        display: flex;

        >li {
          flex-grow: 1;
          text-align: center;

          &:hover {
            box-shadow: 1px 1px 5px blue;
            background-color: darken($color: $darkSecondary, $amount: 10);
          }
        }
      }
    }

    li.submenu {
      position: relative;

      ul:has(li) {
        background-color: $darkPrimary;
        display: none;
        position: absolute;
        top: 85%;
        left: 30%;
        z-index: 1;

        li {
          border-left: 5px $lightSecondary solid;
        }
      }

      &:hover {
        >ul {
          display: block;

          li:hover {
            border-left: 5px $lightPrimary solid;
          }
        }
      }
    }

    a.dropdown-arrow:after {
      content: "\25BE";
      margin-left: 5px;
    }
  }
}