//Index
main {
    background-color: $darkPrimary;
    padding: 1em 0;
    @import "main-index";
    @import "main-about";
    @import "main-contact";
    @import "main-rent";
    @import "main-buy";

    >h1, >h2, >h3 { 
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        margin: 1em 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        color: #ffffff;
        font-size: 2em; 
        font-weight: bolder;
        text-align: center;
    }



}