@mixin redimensionar ($size) {
    @if $size==small {

        //Ancho maximo 800px
        @media (max-width:600px) {
            @content;
        }
    }

    @else if $size==medium {

        //ancho maximo 1020px
        @media (max-width:1024px) {
            @content;
        }
    }
}

@mixin oscurecer($color, $porcetaje:10) {
    color: darken($color, $porcetaje)
}

@mixin animar($nombre, $duracion: 0.4s, $timing: linear, $extra: '') {
    animation: $nombre $duracion $timing $extra;
    -webkit-animation: $nombre $duracion $timing $extra;
}

@mixin textoGradiente($color1, $color2, $direccion: to bottom) {
    color: red;
    background-image: linear-gradient($direccion, $color1, $color2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

@mixin invertir($porcentaje) {
    filter: invert($porcentaje);
    -webkit-filter: invert($porcentaje);
}

@mixin filtrar($filtro) {
    filter: $filtro;
    -webkit-filter: $filtro;
}

@mixin transicionar($propiedad, $duracion: 0.4s, $timing: ease-out) {
    transition: $propiedad $duracion $timing;
    -webkit-transition: $propiedad $duracion $timing;
    -moz-transition: $propiedad $duracion $timing;
    -ms-transition: $propiedad $duracion $timing;
    -o-transition: $propiedad $duracion $timing;
}

@mixin bordear($borde) {
    border-radius: $borde;
    -webkit-border-radius: $borde;
    -moz-border-radius: $borde;
    -ms-border-radius: $borde;
    -o-border-radius: $borde;
}

@mixin sombrear($hLenth, $vLenth, $blurRadius, $color, $inverse: 0px) {
    box-shadow: $hLenth $vLenth $blurRadius $inverse $color;
    -webkit-box-shadow: $hLenth $vLenth $blurRadius $inverse $color;
    -moz-box-shadow: $hLenth $vLenth $blurRadius $inverse $color;
}

@mixin boxSizing($valor) {
    box-sizing: $valor;
    -webkit-box-sizing: $valor;
    -moz-box-sizing: $valor;

}