@import "screen";
@import "mixins";

@import "header";
@import "main";
@import "footer";


/* Animación para mostrar el menú */
@keyframes top-100to0 {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}



@keyframes width0to100 {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
$gradient-colors: $darkPrimary, $gray, $darkSecondary;
@keyframes gradiente {
  0% {
    background-image: linear-gradient(to right, $gradient-colors);
  }
  100% {
    background-image: linear-gradient(to right, $gradient-colors);
  }
}

/* PLACEHOLDERs */

%button-block {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  @include bordear(5px);
  border: 1px solid transparent;
  cursor: pointer
}

%button-type-1 {
  color: $white;
  margin: 1em;
  font-size: 14px;
  font-weight: bold;

  padding: 10px 40px;
  background: $accesoryColor1;
  @extend %hover-shadow;
}
%simple-hover1 {
  &:hover {
    border: 2px solid $lightGray;
}
}

%hover-shadow {
  filter: drop-shadow(5px 5px 5px $darkPrimary);

  &:hover {
    filter: drop-shadow(9px 10px 8px$lightPrimary);

  }
}