<!-- SECCION: ENLACES START -->
<section class="footer">

    <div class="social">
        <!-- GRID COLUMNA 1:CONTENIDO -->
        <h6 class="section-title">Redes Sociales</h6>
        <i class="icon-search"></i>
        <!-- IZQUIERDA END -->

        <!-- DERECHA START -->
        <div class="menu">
            <span>Siguenos en las redes sociales: <br /></span>
            <a href="">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="">
                <i class="fa fa-google"></i>
            </a>
            <a href="">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </div>
    <!-- GRID COLUMNA 1 -->

    <!-- GRID COLUMNA 2: -->
    <div class="footer-card">
        <div class="product">
            <h6 class="section-title">Propiedades</h6>
            <i class="icon-house"></i>
            <div class="menu">
                <a href="rent-properties.html" class="text-white">
                    <p>alquiler viviendas</p>
                </a>
                <a href="rent-properties.html" class="text-white">
                    <p>alquiler oficinas</p>
                </a>
                <a href="buy-properties.html" class="text-white">
                    <p>viviendas guardadas</p>
                </a>
                <a href="buy-properties.html" class="text-white">
                    <p>viviendas para inverison</p>
                </a>
            </div>
        </div>
    </div>
    <!-- GRID COLUMNA 2 -->

    <!-- GRID COLUMNA 3 -->
    <div class="footer-card">
        <div class="links">
            <!-- ENLACES -->
            <h6 class="section-title">Enlaces interesantes</h6>
            <i class="icon-enlace"></i>
            <div class="menu">
                <a href="#!" class="text-white">
                    <p>mi cuenta</p>
                </a>
                <a href="#!" class="text-white">
                    <p>ser afiliado</p>
                </a>
                <a href="#!" class="text-white">
                    <p>trabaja con nosotros</p>
                </a>
                <a href="#!" class="text-white">
                    <p>ayuda</p>
                </a>
                <a href="aviso-legal.html" class="text-white">
                    <p>aviso legal</p>
                </a>
            </div>
        </div>
    </div>
    <!-- GRID COLUMNA 3 -->

    <!-- GRID COLUMNA 4 -->
    <div class="footer-card">
        <div class="contact">
            <!-- ENLACES -->
            <h6 class="section-title">Contacto</h6>
            <i class="icon-mail"></i>
            <div class="menu">
                <p><i class="fa fa-home mr-3"></i>Madrid, MD 10012, ES</p>
                <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
                <p><i class="fa fa-phone mr-3"></i> + 34 234 567 88</p>
                <p><i class="fa fa-print mr-3"></i> + 34 234 567 89</p>
                <p>
                    <a href="contact.html">enviar mensaje</a>
                </p>
            </div>
        </div>
    </div>
    <!-- GRID COLUMNA 4 -->

    <!-- GRID COLUMNA 5 -->
    <div class="footer-card">
        <div class="buscador">
            <form action="#">
                <input type="text" placeholder="Buscar" />
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <!-- GRID COLUMNA 5 -->
</section>
<!-- SECCION: ENLACES END -->
<!-- DERECHOS AUTOR START -->
<div class="author">
    © 2022 Copyright:
    <a href="">Berzins Antons</a>
</div>
<!-- DERECHOS AUTOR END -->